{% if post %}
    {% assign categories = post.categories %}
    {% assign tags = post.tags %}
{% else %}
  {% assign categories = page.categories %}
  {% assign tags = page.tags %}
{% endif %}

<div class="post-categories">
  Categories:
  {% for category in categories %}
    <a class="badge badge-dark" href="{{ site.url }}/category/{{ category | slugize }}">{{ category }}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

<div class="post-tags">
  Tags:
  {% for tag in tags %}
    <a class="badge badge-dark" href="{{ site.url }}/tag/{{ tag }}">{{ tag }}</a>
    {% unless forloop.last %},{% endunless %}
  {% endfor %}
</div>
<br/>
